name: Deploy to digitalocean

on:
  push:
    paths:
      - "backend/**"



jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Backup .env file
      run: |
        [ -f backend/.env ] && cp backend/.env /tmp/env_backup

    - name: install nodejs dependencies
      working-directory: ./backend
      run: npm install

    - name: Restore .env file
      run: |
        [ -f /tmp/env_backup ] && mv /tmp/env_backup backend/.env || true


    - name: Restart Node.js application
      run: |
        pm2 restart backend || pm2 start backend/app.js --name backend

        
    - name: Restart Apache
      run: sudo systemctl restart apache2


